* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.container-fluid {
    padding: 0 5%;
}

.blue-section {
    background-color: #0067b3;
    color: white;
}

.white-section {
    background-color: white;
    color: #0c2d48;
}

.btn{
    font-weight: 600;
    color: #0c2d48;
    border: none;
    transition: all 0.3s;
    width: 100px;
    font-size: 1.2rem;
}

.btn:hover{
    background-color: #0c2d48;
    color: white;
}

/* 1.Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-header {
    background-color: white !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    width: 150px;
    height: 90px;
}

.nav-link {
    color: #0067b3;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s;
}

.nav-link:hover {
    color: white;
    background-color: #0c2d48;
}

.navbar-toggler:focus {
    box-shadow: 2px 2px 0 0 rgb(255, 255, 255, 0.5);
}

.navbar-toggler>i {
    font-size: 1.5rem;
    color: #0067b3;
}

/* 2. Main Content */
.account-container{
    height: 85vh;
}
.account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.joined-classes{
    text-align: center;
}
.card{
    margin-left: 20px;
}
.card-img-top{
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}
.gray{
    background-color: #bfd1de;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px dotted gray;
}
.card .card-title{
    font-weight: 500;
    color: #0067b3;
    text-decoration: none;
    transition: all 0.3s;
}
.card .card-title:hover{
    color: #0c2d48;
    text-decoration: underline;
}

h2{
    font-size: 2.75rem;
    font-weight: 600;
}
p{
    margin: 2%;
    font-size: 1.35rem;
    text-align: center;
}
i{
    color: #0c2d48;
}