*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-image: url(../img/background.png);
}
/* == MAIN STYLING == */
header{
    position: absolute;
    width: 100vw;
    background-color: white;
    padding: 1% 2%;
}
.header-btn{
    font-size: 1.3rem;
    color: #0067b3;
}
.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: white;
    padding: 3% 5%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
h2{
    color: #0c2d48;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.input-group{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 10px;
}
.input-group:nth-child(5){
    margin-top: 15px;
    border: none;
}
input{
    margin-left: 1px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
input:focus{
    outline: none;
}
.login-btn{
    width: 100%;
    border: none;
    color: #0c2d48;
    font-weight: 600;
    transition: all 0.3s;
}
.login-btn:hover{
    color: white;
    background-color: #0c2d48;
}
.signup{
    margin: 10px 0;
}
a{
    text-decoration: none;
    color: #0067b3;
}
a:hover{
    text-decoration: underline;
    color: #0c2d48;
}

/* === RESPONSIVE === */
@media screen and (max-width: 767px) {
   .signup{
    width: 75%;
   }
}